
html * {
    padding: 0;
    margin: 0;
    text-indent: 0;
    border: 0;
}

body {
    background: #39424d;
    font-size: 76%;
    font-family: Arial, Verdana;
    color: #eee;
}

#content {
    width: 800px;
    height: 100%;
    margin: 30px 0 40px 400px;
}

#animatedgif {
    cursor: crosshair;
    position: absolute;
    top: 25px;
    right: 5px;
    position: fixed;
    float: right;
    background-repeat: no-repeat;
    background-position: center center;
}

.epicfail {
    background-image: url("img/fail.gif");
    width: 220px;
    height: 250px;
    border: 2px solid red;
    background-color: black;
}

.win {
    border: 2px solid green;
    background-image: url("img/win.gif");
    width: 220px;
    height: 250px;
    background-position: -60px 0px;
}

#content #results {
    width: 100%;
    margin-top: 30px;
}

#content #results .name {
    width: 800px;
    float: left;
    background: #333;
    padding: 5px;
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid #666;
}

#content #results .pass, #content #results .fail {
    width: 15%;
    padding: 5px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

.pass {
    background: green;
}

.fail {
    background: red;
}

.errorMessage {
    width: 770px;
    background: #333;
    float: left;
    clear: both;
    padding: 10px 5px 5px 20px;
    font-size: .8em;
}

#content h1 {
    font-size: 1.4em;
}

#suites {
    position: fixed;
    width: 300px;
    background: #49525D;
    border: solid 3px #29323D;;
    border-left: 0;
    padding: 20px;
    float: left;
}

#suitesList {
    height: 600px;
    overflow: auto;
}

#suites li {
    position: relative;
    margin-left: 20px;
    list-style: none;
}

#suites input {
    margin-right: 7px;
}

#suites li a {
    margin-left: 7px;
    color: #e5c53c;
}

#suitesButtons {
    margin-bottom: 20px;
}

#formButtons {
    margin-top: 20px;
}

#suitesButtons a, #formButtons a {
    text-decoration: none;
    padding: 5px;
    background: #69727D;
    border-top: solid 2px #89929D;
    border-left: solid 2px #89929D;
    color: #8FB732;
    margin-right: 15px;
    font-size: 15px;
}

#navigationButtons {
    display: none;
    margin-top: 20px;
    background: green;
    text-align: center;
}

#navigationButtons span {
    font-size: 20px;
    margin-right: 10px;
}

#navigationButtons span .noclickable {
    cursor: default;
    font-weight: normal;
}

#navigationButtons span .clickable {
    cursor: pointer;
    font-weight: bold;
}

#testloader {
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url("view/img/testloader.gif");
    background-position: bottom;
    background-repeat: none;
    padding-bottom: 30px;
}